*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: url(33333.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navber{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #000000;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 31px;
    float: left;
    padding-top: 18px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

ul li a:hover{
    color: rgb(255, 255, 255);
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    margin: 13px;
    color: #000000;
    border-right: none;
    font-size: 18px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background-color: #f0b9e1;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 13px;
    color: #000000;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #000000;
    position: relative;
}

.content .per{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1.1px;
    line-height: 30px;
}

.content h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #f0b9e1;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{
    text-decoration: none;
    color: #000000;
    transition: .3s ease;
}

.cn:hover{
    background-color: rgb(221, 163, 202);
}

.content span{
    color: #ed91d5;
    font-size: 60px;
}

/* Hero Section */
.hero {
  background: url(2222222222.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  padding: 80px 60px;
  align-items: center;
  gap: 50px;
  
}

.hero-text h1 {
  font-size: 70px;
  font-family: "Playfair Display", serif;
}

.hero-text p {
  font-size: 20px;
  margin: 10px 0 25px;
}

.hero-buttons .btn,
.btn {
  background:#f0b9e1;
  padding: 12px 22px;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.btn-outline {
  border: 1px solid #f0b9e1;
  padding: 12px 22px;
  color: #000;
  margin-left: 10px;
  text-decoration: none;
}

.hero-img {
  width: 50%;
  height: 420px;
  background: url(4444.jpg) center/cover;
}

/* Product Grid */
.products {
  background: url(4.jpg)no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 60px;
  text-align: center;
}

.products h2 {
  font-size: 40px;
  font-family: "Playfair Display", serif;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 50px;
  margin-left: 35px;
}

.card1{
  height: 450px;
  background: url(1.jpg) center/cover;
  border: 3px solid #222;
  width: 90%;
}

.card2{
  height: 450px;
  background: url(2.jpg) center/cover;
  border: 3px solid #222;
  width: 90%;
}

.card3{
  height: 450px;
  background: url(3.jpg) center/cover;
  border: 3px solid #222;
  width: 90%;
}

/* Story Section */
.story {
  display: flex;
  padding: 80px 60px;
  gap: 40px;
}

.story-img {
  width: 45%;
  height: 380px;
  background: url(5.jpg) center/cover;
}

.story-text {
    padding: 50px;
    padding-left: 70px;
  width: 70%;
}

.story-text h2 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
}

.story-text p{
    font-size: 20px;
  margin: 10px 0 25px;
}